.title {
  color: #FFBF00;
  text-align: center;
  font-family: 'Syne Mono', monospace;
  font-size: 70px;
}
.text {
  color: #6D326D;
  font-family: 'Syne Mono', monospace;
  font-size: 30px;
}
.car_img{
  width:300px;
  padding-left:20px; 
  padding-right:20px;  
}
.options{
  background-color: white;
  margin:auto;
  width:300px;
}
.tops{
  border-top: 10px solid#003F91;
  border-left: 10px solid#003F91;
  border-right: 10px solid#003F91; 
}
.bottoms{
  border-left: 10px solid#003F91;
  border-right: 10px solid#003F91; 
}
.shoes{
  border-bottom: 10px solid#003F91;
  border-left: 10px solid#003F91;
  border-right: 10px solid#003F91; 
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
